*.pyc
tests/input_files/fake-cache/*
!tests/input_files/fake-cache/rsids-147.vcf.gz
.pytest_cache/
PheWeb.egg-info
build
dist
pheweb/load/cffi/_x*
.eggs
**/node_modules
generated-by-pheweb
.DS_Store
**/mysql.conf
pheweb/serve/static/bundle.js
