# This file stores config in a format that can be executed in python or bash.
# That means that every line should like one of
# KEY=1234
# KEY = 12.34
# KEY='example string'

virtualenv_dir='/var/www/pheweb/venv/'
data_dir='/var/pheweb_data_sardinia2'
source_filenames_pattern='/net/wonderland/home/csidore/Epacts_vcfs/Michelle_panel/GOODheader/out-*/epacts-*.epacts.gz'
source_filenames_pheno_code_extracting_regex='/net/wonderland/home/csidore/Epacts_vcfs/Michelle_panel/GOODheader/out-.*/epacts-(.*).epacts.gz'
no_category_string=True
no_phewas_string=True
source_file_parser="epacts"
minimum_maf=0.0001
minimum_num_cases=20
bedtools_path='/net/mario/cluster/bin/'
tabix_path='/net/mario/cluster/bin/tabix'
bgzip_path='/net/mario/cluster/bin/bgzip'
use_vanderbilt_phewas_icd9s_and_categories=False
