# This file stores config in a format that can be executed in python or bash.
# That means that every line should like one of
# KEY=1234
# KEY = 12.34
# KEY='example string'

virtualenv_dir='/var/www/pheweb/venv/'
data_dir='/var/pheweb_data/'
source_filenames_pattern='/net/fantasia/home/schellen/PheWAS/epacts/RESULTS/pheno.*/pheno.*.epacts.gz'
source_filenames_pheno_code_extracting_regex='pheno.([0-9\.]+).epacts.gz'
source_file_parser="epacts"
minimum_maf=0.01
minimum_num_cases=20
bedtools_path='/net/mario/cluster/bin/'
tabix_path='/net/mario/cluster/bin/tabix'
bgzip_path='/net/mario/cluster/bin/bgzip'
use_vanderbilt_phewas_icd9s_and_categories=True
