{% extends "layout.html" %}

{% block contained %}
<div class="row" style="margin-top:7em">
  <div class="col-xs-12">
    <br><br>
    <center>
      <h2>Error</h2>
      {% if message %}
      <p>{{ message }}</p>
      {% else %}
      <h4>Either this page doesn't exist, or you just found a bug in our server.</h4><br>
      {% endif %}
      <br><br>
      If this is something that we should know about, we'd appreciate if you'd <a href="mailto:pjvh@umich.com?subject=bug-pheweb">let us know</a>.<br>
    </center>

  </div>
</div>
{% endblock %}
