{% extends "layout.html" %}

{% block navbar_brand %}{% endblock %}
{% block navbar_left %}{% endblock %}

{% block in_head %}
<style type="text/css">
  .navbar-default {
    border: none;
  }
</style>
<script type="text/javascript">
$(function() { $('#mainsearch).focus(); }); // autofocus attribute doesn't work in FF.
</script>
{% endblock %}

{% block contained %}

<br style="margin-top:2em">
{% if current_user and not current_user.is_authenticated %}
<div class="row">
  <div class="col-10 offset-1">
    <div class="jumbotron">
      {% if not config['USE_WHITELIST'] %}
      <h3>Please register to view this data.</h3>
      <br>
      <p><a class="btn-lg btn-primary" role="button" href="{{ url_for('.login_with_google') }}">Click here register with a Google account</a></p>
      {% else %}
      <h3>Please log in to view this data.</h3>
      <br>
      <p><a class="btn-lg btn-primary" role="button" href="{{ url_for('.login_with_google') }}">Click here log in with a Google account</a></p>
      <br>
      <p style="margin-bottom:0">
        If your email address is on the whitelist but is not connected to a Google account, please
        <a href="https://accounts.google.com/SignUpWithoutGmail">create a Google account for it</a>.
      </p>
      {% endif %}
    </div>
    <br><br>
  </div>
</div>
{% else %}
<br style="margin-top: 3em">
{% endif %}

<div class="row">
    <div class="col-12 offset-sm-1 col-sm-10">
        <h1>{% include 'index/h1.html' %}</h1>
        {% include 'index/below-h1.html' ignore missing %}
    </div>
</div>
<div class="row">
    <div class="col-12 offset-sm-1 col-sm-10">
        <form action="{{ url_for('.go') }}" class="form-inline">
            <div class="input-group" style="flex-grow:1; max-width:50em">
                <input id="mainsearch" type="text" name="query" class="form-control" autocomplete="off" placeholder="Search for a variant, gene, or phenotype" autofocus aria-label="Search">
                <div class="input-group-append"><button class="btn btn-outline-secondary" type="submit">Search</button></div>
            </div>
        </form>
        {% include 'index/below-query.html' ignore missing %}
    </div>
</div>
{% endblock %}
