<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">

<head>
<title>{{ config['page_title']|safe }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if config['noindex'] %}
<meta name="robots" content="noindex">
{% endif %}

{% if config['browser'] == 'FINNGEN' %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon" />
{% endif %}

<script src="{{ url_for('static', filename='vendor/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/underscore-1.8.3.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/typeahead-0.11.1.bundle.min.js') }}" type="text/javascript"></script>

<link href="https://cdn.jsdelivr.net/npm/locuszoom@0.10.2/dist/locuszoom.css" rel="stylesheet" type="text/css"/>
<link  href="{{ url_for('static', filename='vendor/bootstrap-3.3.6.min.css') }}" rel="stylesheet" type="text/css" crossorigin="anonymous">
<link href="{{ url_for('static', filename='common.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static', filename='common.js') }}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='react-tabs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='react-table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='react-style.css') }}">

{% if config['GOOGLE_ANALYTICS_TRACKING_ID'] %}
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ config['GOOGLE_ANALYTICS_TRACKING_ID'] }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
</head>

<script type="text/javascript">
  window.browser = {{config['browser']|tojson|safe}}
  window.release = {{config['release']|tojson|safe}}
  window.release_prev = {{config['release_prev']|tojson|safe}}
  window.coding_content = "{{config['coding_content']|safe}}"
  window.chip_content = "{{config['chip_content']|safe}}"
  window.lof_content = "{{config['lof_content']|safe}}"
  window.show_ukbb = "{{config['show_ukbb']}}"
  window.model = window.model || {}
  window.model.tooltip_underscoretemplate = {{ tooltip_underscoretemplate|tojson }}
  window.vis_conf = {{vis_conf|tojson|safe}}
  window.sounds = [
  'https://sound.peal.io/ps/audios/000/029/713/original/youtube_29713.mp3?1553760622',
  'https://sound.peal.io/ps/audios/000/029/696/original/youtube_29696.mp3?1553758748',
  'https://sound.peal.io/ps/audios/000/029/706/original/youtube_29706.mp3?1553759924',
  'https://sound.peal.io/ps/audios/000/029/716/original/youtube_29716.mp3?1553760827',
  'https://sound.peal.io/ps/audios/000/029/697/original/youtube_29697.mp3?1553758854',
  'https://sound.peal.io/ps/audios/000/029/712/original/youtube_29712.mp3?1553760486',
  'https://sound.peal.io/ps/audios/000/029/699/original/youtube_29699.mp3?1553759113',
  'https://sound.peal.io/ps/audios/000/029/714/original/youtube_29714.mp3?1553760710',
  'https://sound.peal.io/ps/audios/000/029/710/original/youtube_29710.mp3?1553760216',
  'https://sound.peal.io/ps/audios/000/029/697/original/youtube_29697.mp3?1553758854',
  'https://sound.peal.io/ps/audios/000/029/707/original/youtube_29707.mp3?1553759990'
  ]
</script>

<style type="text/css">
.d3-tip {
  line-height: 1.4;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

#manhattan_plot_container {
  min-width: 700px;
}
#manhattan_plot_container .axis > path.domain {
  stroke-width: 2px;
  stroke: #666;
  fill: none;
}
#manhattan_plot_container .axis g.tick line {
  stroke: #666;
}

#qq_plot_container .axis path.domain {
  stroke: black;
  fill: none;
}
#qq_plot_container .axis g.tick line {
  stroke: #666;
  opacity: 0.3;
}

.icd9-info > p, .pheno-info > p {
  margin-bottom: 0;
}

</style>

<body>
<nav class="navbar navbar-default" style="background: white;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
	    <span ondblclick="new Audio(window.sounds[Math.floor(Math.random() * window.sounds.length)]).play()">
	      {{ config.logo|safe }}
	    </span>
	    <a href="/">
	      <span class="logo-header">{{ config['title'] }}</span>
	    </a>
            <!-- <a class="navbar-brand" href="/" style="color: #333; font-weight: bold; float: left; font-size: 15px;">PheWeb</a> -->
            <div class="navbar-left" id="navbar_form_container">
                <form action="/go" class="navbar-form" role="search">
                    <div class="form-group" id="navbar-awesomebar">
                        <input id="navbar-searchbox-input" name="query" class="form-control typeahead" type="text" size="40" placeholder="Search for a variant, gene, or phenotype">
                    </div>
                </form>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/random" style="color: #333; font-weight: bold;">Random</a></li>
		{% if config.lof %}
                <li><a href="/lof" style="color: #333; font-weight: bold;">LoF</a></li>
		{% endif %}
		{% if config.coding %}
                <li><a href="/coding" style="color: #333; font-weight: bold;">Coding</a></li>
		{% endif %}
		{% if config.chip %}
                <li><a href="/chip" style="color: #333; font-weight: bold;">Chip</a></li>
		{% endif %}
		{% if config.endpoint_def %}
                <li><a href="{{ url_for('static', filename=config.endpoint_def) }}" style="color: #333; font-weight: bold;">Download Endpoint Definitions</a></li>
		{% endif %}
                <li><a href="/about" style="color: #333; font-weight: bold;">About</a></li>
                {% if current_user and current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}" style="color: #333; font-weight: bold;">Logout ({{ current_user.email }})</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="reactEntry"></div>
<script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>

</body>
