{% extends "layout.html" %}

{% block navbar_left %}{% endblock %}

{% block in_head %}
<style type="text/css">
  .navbar-default {
    border: none;
  }
</style>
{% endblock %}

{% block contained %}
<div class="row" style="margin-top:7em">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <h1>{% include 'index/h1.html' %}</h1>
        {% include 'index/below-h1.html' %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div id="home-searchbox">
            <form action="/go">
               <fieldset>
                  <div class="form-group">
                    <input name="query" class="form-control typeahead" type="text" placeholder="Search for a variant, gene, or phenotype" autofocus />
                  </div>
               </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
