{% extends "layout.html" %}

{% block contained %}
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-8 col-lg-6">
    <p>The endpoint '{{query}}' does not exist.</p>

    <p>
    Please check the spelling first. Note that redundant and non-meaningful endpoints have been omitted from analyses. Check the omitted endpoints in
    <a href="https://www.finngen.fi/en/researchers/clinical-endpoints">https://www.finngen.fi/en/researchers/clinical-endpoints</a>
    </p>

  </div>
</div>
{% endblock %}
