{% extends "layout.html" %}


{% block in_head %}
<script type="text/javascript" src="{{ url_for('static', filename='vendor/stream_table.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='pheno.js') }}"></script>
<script type="text/javascript">
  window.pheno = {{ phenocode|tojson|safe }};
  window.debug = {};
  $.getJSON("/api/manhattan/pheno/" + window.pheno + ".json")
  .done(function(data) {
      window.debug.manhattan = data;
      create_gwas_plot(data.variant_bins, data.unbinned_variants);
      populate_streamtable(data.unbinned_variants);
  })
  .fail(function() {
    console.log("QQ XHR failed");
  });
  $.getJSON("/api/qq/pheno/" + window.pheno + ".json")
  .done(function(data) {
    window.debug.qq = data;
    _.sortBy(_.pairs(data.overall.gc_lambda), function(d) {return -d[0];}).forEach(function(d, i) {
      var text = 'GC Lambda ' + d[0] + ': ' + d[1].toFixed(3);
      if (i === 0) { text = '<b>' + text + '</b>'; }
      text = '<br>' + text;
      $('.gc-control').append(text);
    });
    create_qq_plot(data.by_maf);
  })
  .fail(function() {
    console.log("QQ XHR failed");
  });
</script>
<style type="text/css">
.d3-tip {
  line-height: 1.4;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

#manhattan_plot_container {
  min-width: 700px;
}
#manhattan_plot_container .axis > path.domain {
  stroke-width: 2px;
  stroke: #666;
  fill: none;
}
#manhattan_plot_container .axis g.tick line {
  stroke: #666;
}

#qq_plot_container .axis path.domain {
  stroke: black;
  fill: none;
}
#qq_plot_container .axis g.tick line {
  stroke: #666;
  opacity: 0.3;
}

.icd9-info > p, .pheno-info > p {
  margin-bottom: 0;
}

</style>
{% endblock %}


{% block contained %}
{% for key in ['num_cases', 'num_controls', 'num_samples'] %}
 {% if key in pheno %}
  {% if '<' in pheno[key]|string %}
    <div class="alert alert-danger" role="alert"><b>Warning:</b> This phenotype has {{ pheno[key] }} {{ key.replace('num_','') }}.</div>
  {% elif pheno[key]|int < 200 %}
    <div class="alert alert-danger" role="alert"><b>Warning:</b> This phenotype only has {{ pheno[key] }} {{ key.replace('num_', '') }}.</div>
  {% endif %}
 {% endif %}
{% endfor %}
<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-top:0">{% include "pheno/h1.html" %}</h1>
    </div>
</div>
<div class="row">
    <div class="pheno-info col-xs-12">
        {% if 'num_cases' in pheno %}
          <p><b>{{ pheno.num_cases }}</b> cases, <b>{{ pheno.num_controls }}</b> controls.</p>
        {% elif 'num_samples' in pheno %}
          <p><b>{{ pheno.num_samples }}</b> samples</p>
        {% endif %}
        {% if pheno.category %}
          <p>Category: <b>{{ pheno.category}}</b></p>
        {% endif %}
        <div id="manhattan_plot_container">
        </div>
    </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <h3>Top Hits:</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6">
    <input type="text" class="form-control" id="search" placeholder="Search... &quot;TCF7L2&quot;, &quot;rs1861867&quot;, etc.">
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-6">
    <h5 class="pull-right"><div id="streamtable-found" class="label label-primary"></div></h5>
  </div>
</div>
<div class="row stream_table_row">
  <div class="col-xs-12">
    <table id="stream_table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Variant</th>
          <th>Nearest Gene(s)</th>
          <th>MAF</th>
          <th>P-value</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
    {% if pheno.icd9_info %}
    <div class="icd9-info col-xs-12 col-sm-7 col-md-8 col-lg-8">
      <h3>ICD9 codes included in this PheWAS code:</h3>
      {% for icd9 in pheno.icd9_info %}
        <p><b>{{ icd9.icd9_code }}</b> - {{ icd9.icd9_string }}</p>
      {% endfor %}
    </div>
    <div class="icd9-info col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 col-lg-3">
    {% else %}
    <div class="icd9-info col-xs-12 col-sm-4 col-md-3 col-lg-3">
    {% endif %}
      <h3>QQ plot:</h3>
      <div id="qq_plot_container"></div>
      <p class="gc-control"></p>
      <i>(Genomic Control Lambda calculated based on the 50%ile (median), 10%ile, 1%ile, and 0.1%ile.)</i>
      <br><br><br>
    </div>
</div>

<script type="text/template" id="tooltip-template">
<%= d.chrom %>:<%= d.pos.toLocaleString() %> <%= d.ref %> &gt; <%= d.alt %><br>
pval: <%= d.pval.toExponential(1) %><br>
MAF: <%= d.maf.toPrecision(2) %><br>
nearest gene<%= (d.nearest_genes.indexOf(',') !== -1) ? 's' : '' %>: <i><%= d.nearest_genes.replace(/,/g, ', ') %></i><br>
<% if (d.rsids) { %>
rsid<%= (d.rsids.indexOf(',') !== -1) ? 's' : '' %>: <%= d.rsids.replace(/,/g, ', ') %><br>
<% } %>
<% _.each(['beta', 'sebeta'], function(key) { %>
<% if (_.has(d, key)) { %>
<%= key %>: <%= d[key] %><br>
<% } %>
<% }) %>
</script>

<script type="text/template" id="streamtable-template">
<tr>
<td><a style="color:black" href="/variant/<%= v.chrom %>-<%= v.pos %>-<%= v.ref %>-<%= v.alt %>">
    <%= v.chrom %>:<%= v.pos.toLocaleString() %> <%= v.ref %> &gt; <%= v.alt %>
    <% if (v.rsids) { %>(<%= v.rsids.replace(/,/g, ', ') %>)<% } %>
</a></td>
<td><i><%= v.nearest_genes.replace(/,/g, ', ') %></i></td>
<td><%= v.maf.toPrecision(2) %></td>
<td><%= v.pval.toExponential(1) %></td>
</tr>
</script>

{% endblock %}
