{% extends "layout.html" %}


{% block in_head %}
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
<script src="{{ url_for('.static', filename='phenotypes.js') }}" type="text/javascript"></script>
<script type="text/javascript">
  $.getJSON(window.model.urlprefix + "/api/phenotypes.json").done(function(data) {
      window._d = window._d || {};
      window._d.phenotypes = data;
      populate_table(data);
  });
</script>
<style type="text/css">
#table { font-size: 90%; }
</style>
{% endblock %}


{% block contained %}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 style="margin-top:0">All Phenotypes</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
      <span class="pull-right"><a class="btn btn-default" href="{{ url_for('.download_phenotypes') }}">Download</a></span>
  </div>
</div>
<br>

<div class="row" style="margin-bottom: 0.5em">
  <div class="col-12">
    <div id="table" class="table-striped table-bordered"></div>
  </div>
</div>

{% endblock %}
