{% extends "layout.html" %}

{% block in_head %}
<script type="text/javascript">
  window.variant = {{ variant|tojson(separators=(',',':'))|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/stream_table.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='variant.js') }}"></script>
<style type="text/css">
.d3-tip {
  line-height: 1;
  max-width: 175px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

.axis > path.domain {
  stroke-width: 2px;
  stroke: #666;
  fill: none;
}

.variant-info > p {
  margin-bottom: 0;
}

#phewas_plot_container {
  min-width: 700px;
}
</style>
{% endblock %}

{% block contained %}
<div class="row">
    <div class="variant-info col-xs-12">
        <h1 style="margin-top:0">
          {{ variant.variant_name }}
          {% if variant.rsids %}({{ variant.rsids }}){% endif %}
        </h1>
        <p>Nearest gene: <i>{{ variant.nearest_genes }}</i></p>
        <p>MAF: {{ variant.maf }}</p>
        <p>View on
          <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&highlight=hg19.chr{{ variant.chrom }}%3A{ variant.pos }}-{{ variant.pos }}&position=chr{{ variant.chrom }}%3A{{ variant.pos - 200000 }}-{{ variant.pos + 200000 }}">UCSC</a>
          {% with rsids = (variant.rsids.split(',') if variant.rsids else []) %}
            {% if rsids|length == 1 %}
              , <a href="https://www.ebi.ac.uk/gwas/search?query={{ rsids[0] }}">GWAS Catalog</a>
            {% else %}
              {% for rsid in rsids %}
                , <a href="https://www.ebi.ac.uk/gwas/search?query={{ rsid }}">GWAS Catalog for {{ rsid }}</a>
              {% endfor %}
            {% endif %}
            {% if rsids|length == 1 %}
              , <a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{ rsids[0] }}">dbSNP</a>
            {% else %}
              {% for rsid in rsids %}
                , <a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{ rsids[0] }}">dbSNP for {{ rsid }}</a>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <span style="font-weight:bold" id="pubmed-link"></span>
          <span style="font-weight:bold" id="clinvar-link"></span>
        </p>
        <div id="phewas_plot_container">
        </div>
    </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6">
    <input type="text" class="form-control" id="search" placeholder="Search... &quot;427.21&quot;, &quot;Diabetes&quot;, etc.">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-6">
    <h5 class="pull-right"><div id="streamtable-found" class="label label-primary"></div></h5>
  </div>
</div>
<div class="row stream_table_row">
  <div class="col-xs-12">
    <table id="stream_table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Phenotype</th>
          <th>P-value</th>
          <th>Number of samples</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>


<script type="text/template" id="tooltip-template">

<%= d.phenostring || d.phenocode %><br>

<% if (d.category) { %>
<span style="color:<%= color_by_category(d.category) %>">
<%= d.category %>
</span><br>
<% } %>

pval: <%= d.pval.toExponential(1) %><br>

<% if (d.beta) { %>
beta: <%= d.beta.toExponential(1) %><br>
<% } %>

<% if (d.sebeta) { %>
sebeta: <%= d.sebeta.toExponential(1) %><br>
<% } %>

<% if (d.or) { %>
OR: <%= d.or.toExponential(1) %><br>
<% } %>

<% if (d.num_cases && d.num_controls) { %>
#cases: <%= d.num_cases %><br>
#controls: <%= d.num_controls %><br>
<% } else if (d.num_samples) { %>
#samples: <%= d.num_samples %><br>
<% } %>

</script>

<script type="text/template" id="streamtable-template">
  <tr>
    <td style="color:<%= color_by_category(d.category) %>">
      <%= d.category %>
    </td>
    <td><a style="color:black" href="/pheno/<%= d.phenocode %>"><%= d.phenostring || d.phenocode %></a></td>
    <td><%= d.pval.toExponential(1) %></td>
    <td><% if (d.num_cases) { %>
      <%= d.num_cases %> / <%= d.num_controls %>
      <% } else if (d.num_samples) { %>
      <%= d.num_samples %>
      <% } %>
    </td>

  </tr>
</script>

{% endblock %}
