resources:

- name: {{ properties["classification"] }}-{{ properties["environment"] }}-{{ properties["release"] }}-pheweb-ip
  type: compute.v1.address
  properties:
    region: global
     metadata:
      items:
        - key: product
          value: {{ properties["classification"] }}-pheweb-production-{{ properties["release"] }}
