resources:

- name: {{ properties["environment"] }}-{{ properties["release"] }}-pheweb-kubernetes
  type: container.v1.cluster
  properties:
    zone: europe-west1-b
    cluster:
      name: {{ properties["environment"] }}-{{ properties["release"] }}-pheweb
      description: Kubernetes cluster for {{ properties["release"] }} pheweb
      nodePools:
        - name: {{ properties["environment"] }}-{{ properties["release"] }}-pheweb-pool
          initialNodeCount: 2
          config:
            machineType: n1-standard-1
            labels:
                product : pheweb-{{ properties["environment"] }}-{{ properties["release"] }}
            oauthScopes:
              - https://www.googleapis.com/auth/devstorage.read_only
              - https://www.googleapis.com/auth/logging.write
              - https://www.googleapis.com/auth/monitoring
              - https://www.googleapis.com/auth/servicecontrol
              - https://www.googleapis.com/auth/service.management.readonly
              - https://www.googleapis.com/auth/trace.append
          locations:
            - europe-west1-b
          management:
            autoUpgrade: true
            autoRepair: true
      network: default
      resourceLabels:
        product : pheweb-{{ properties["environment"] }}-{{ properties["release"] }}
