resources:

- name: {{ properties["classification"] }}-{{ properties["environment"] }}-{{ properties["release"] }}-pheweb-nfs
  type: gcp-types/file-v1beta1:projects.locations.instances
  properties:
    parent: projects/{{ env["project"] }}/locations/europe-west1-b
    instanceId: {{ properties["classification"] }}-{{ properties["environment"] }}-{{ properties["release"] }}-pheweb-nfs
    tier: STANDARD
    description: >-
      Browser data for {{ properties["release"] }} data freeze
      FinnGen and meta summary stats
      and other PheWeb generated data
    networks:
    - network: default
    fileShares:
    - name: pheweb
      capacityGb: 1024
    labels:
      product: {{ properties["classification"] }}-{{ properties["release"] }}-pheweb-nfs
