resources:

- name: {{ properties["environment"] }}_jenkins_storage_{{ properties["classification"] }}
  type: storage.v1.bucket
  properties:
    kind: storage#bucket
    name: {{ properties["environment"] }}_jenkins_storage_{{ properties["classification"] }}
    location: europe-west1
    storageClass: STANDARD
    predefinedAcl: projectPrivate

- type: gcp-types/storage-v1:virtual.buckets.iamMemberBinding
  name: test-bucket-iam
  properties:
    bucket: $(ref.{{ properties["environment"] }}_jenkins_storage_{{ properties["classification"] }}.name)
    member: serviceAccount:jenkins@phewas-development.iam.gserviceaccount.com
    role: roles/storage.admin