<h1>About this site</h1>
<br>
<p>The genetic association results on this website are from the
Finnish population
based <a href="https://www.thl.fi/fi/web/thlfi-en/research-and-expertwork/population-studies/the-national-finrisk-study">FINRISK</a>
cohort consisting of 24,804 individuals.</p>
<p>This site was built with <a href="https://github.com/statgen/pheweb/">PheWeb</a>. All positions are on GRCh37.</p>
<p>Contact: Juha Karjalainen (juha.karjalainen@helsinki.fi) or Mitja Kurki (mkurki@broadinstitute.org)</p>
