<h1>About this site</h1>
<br>
<p>The genetic association results on this website are from the FinnGen study.
    These results are from 2,264 endpoints of data freeze 4 (fall 2019), consisting of 176,899 individuals.</p>
<p>This site was built with PheWeb (<a href="https://github.com/statgen/pheweb/">original repository</a>, <a href="https://github.com/FINNGEN/pheweb/">Finngen repository</a>). All positions are on GRCh38.</p>
<p>PheWAS contact: Samuli Ripatti (samuli.ripatti@helsinki.fi)<br/>
FinnGen contact: Aarno Palotie (aarno.palotie@helsinki.fi)</p>
