<h1>About This PheWeb</h1>
<br>
<p>This site was built by Wayne Monical in collaboration with Atlas Khan and the Kiryluk lab at Columbia University 
    with a branch of the Pheweb python package, revamped to browse a phenome-wide association study of 31 loci that 
    were found to be in association with urinary tract infections. All positions are on GRCh{{config.GRCH_BUILD_NUMBER}}.</p>

Original Repository: <a href="https://github.com/statgen/pheweb/">PheWeb</a> version {{ config.PHEWEB_VERSION }}.</p>
Branch: <a href="https://github.com/wayne-monical/pheweb/">UTI Loci PheWAS Browser</a>