/* FINNGEN SPECIFIC */
/* these rules mostly override bootstrap's ones */

/* color schemes */
/* https://color.adobe.com/create/color-wheel */
/* #3500D4 blue */
/* #D20CE8 purple */
/* #FF0000 red */
/* #E8580C orange */
/* #FFAC0D sand? */
/* http://colormind.io/ random soft based on 3500D4 */
/* #3500D4 blue */
/* #1F92AD navy blue */
/* #C1AE69 kinda sand i don't know colors */
/* #A57643 brown */
/* #D0282F toned down red */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

body {
    font-family:'Open Sans',sans-serif;
}

a {
    color: #4B1DD9;
}

.logo-header {
    float: left;
    line-height: 64px;
    font-size: 21px;
    margin-left: 10px;
    letter-spacing: 0.1em;
    color: #282828;
}

.variant_point,.binned_variant_point {
    fill-opacity: 0.5;
}

.navbar-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-right {
    margin-top: 17px;
}

#navbar-searchbox-input {
    margin-top: 7px;
}

.alert,.label,.form-control,.lz-dashboard-button,.pagination>li:first-child>a,.pagination>li:last-child>a {
    border-radius: 0px;
}

.pagination.active {
    border-color: #3500D4;
}

.pagination>li>a {
    color: #282828;
}

.pagination>li>a:hover {
    color: #3500D4;
}

.pagination>li.active>a {
    background-color: #282828;
}

.pagination>li.active>a:hover {
    background-color: #3500D4;
}

.label {
    background-color: #282828;
}

/* ORIGINAL */

/* Reconcile bootstrap3 to typeahead.js (the real Typeahead, not bootstrap-typeahead) */
.twitter-typeahead {
  width: 100%;
}
.tt-menu {
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  width:100%;
  max-height: 20em;
  overflow-y: auto;
}
.tt-empty-message,
.tt-suggestion {
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2; // just backup for linear-gradientless browsers?
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
}
/* ---- */

/* StreamTable */
.pagination {
  margin: 0;
}
.stream_table_row {
  margin-top: 10px;
}
#stream_table {
  margin-bottom: 10px;
}
/* ---- */

.lz-data_layer-tooltip {
    pointer-events: none;
}

