.lz-toolbar.lz-plot-toolbar {
    text-align: center;
}
.lz-toolbar-left, .lz-toolbar-right {
    display: inline-block;
}
.lz-toolbar-group-start, .lz-toolbar-group-middle, .lz-toolbar-group-end {
    float: none !important;
}
/*
TODO: merge toolbar-component-centering into LZ. (should it be the default?)
      - if not, make it explicit.  it's bad that I'm just centering anything with `.lz-toolbar-group-*`.
TODO: stop text-align:center from cascading downward through descendants
*/
