{% extends "layout.html" %}

{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br><br> {# Don't get stuck behind the navbar #}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert"><b>Error:</b> {{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-xs-12">
                <h1>About PheWeb</h1>
                <br>
                <p>If you have questions or comments about this website, contact <a href="mailto:pjvh@umich.edu">Peter VandeHaar</a>.</p>
                <br>
                <p>Source code is <a href="https://github.com/statgen/pheweb/tree/pheweb-sardinia-lz">here</a>.</p>
                <br/>
                <p>All positions are on GRCh 37.</p>
            </div>
        </div>
    </div>
{% endblock %}
