{% extends "layout.html" %}

{% block navbar_left %}{% endblock %}

{% block in_head %}
<style type="text/css">
  .navbar-default {
    border: none;
  }
</style>
{% endblock %}

{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br><br> {# Don't get stuck behind the navbar #}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert"><b>Error:</b> {{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="row" style="margin-top:7em">
            <div class="col-xs-12">
                <h1>PheWeb</h1>
                <h2 style="font-style: italic">Powered by MGI</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/go" id="variant-search-form">
                       <fieldset>
                          <div class="form-group">
                            <input name="query" class="form-control typeahead" type="text" placeholder="Search for a variant or phenotype" autofocus />
                          </div>
                       </fieldset>
                    </form>
                    <p class="text-muted">
                        Try these variants:<br>
                        <a href="/variant/1:169519049-T-C">1:169519049-T-C</a><br>
                        <a href="/variant/6:396321-C-T">6:396321-C-T</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
