{% extends "layout.html" %}

{% block in_head %}
<script type="text/javascript" src="{{ url_for('static', filename='pheno.js') }}"></script>
<script type="text/javascript">
  window.pheno = {{ phewas_code|tojson|safe }};
  $.getJSON("/api/pheno/" + window.pheno + ".json").done(function(variants) {
      create_gwas_plot(variants.variant_bins, variants.unbinned_variants);
  });
  $.getJSON("/api/pheno-qq/" + window.pheno + ".json").done(function(data) {
      create_qq_plot(data.qq);
  });
</script>
<style type="text/css">
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

#manhattan_plot_container {
  min-width: 700px;
}
#manhattan_plot_container .axis > path.domain {
  stroke-width: 2px;
  stroke: #666;
  fill: none;
}
#manhattan_plot_container .axis g.tick line {
  stroke: #666;
}

#qq_plot_container .axis path.domain {
  stroke: black;
  fill: none;
}
#qq_plot_container .axis g.tick line {
  stroke: #666;
  opacity: 0.3;
}

.icd9-info > p, .pheno-info > p {
  margin-bottom: 0;
}

</style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br><br> {# Dont get stuck behind the navbar #}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert"><b>Error:</b> {{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-xs-12">
                <h1 style="margin-top:0">{{ phewas_code }}: {{ pheno.phewas_string }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="pheno-info col-xs-12">
                <p><b>{{ pheno.num_cases }}</b> cases, <b>{{ pheno.num_controls }}</b> controls</p>
                <p>Category: <b>{{ pheno.category_string}}</b></p>
                <div id="manhattan_plot_container">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="icd9-info col-xs-12 col-sm-7 col-md-8 col-lg-8">
              <h3>ICD9 codes included in this PheWAS code:</h3>
              {% for icd9 in pheno.icd9s %}
                <p>{{ icd9.icd9_code }} - {{ icd9.icd9_string }}</p>
              {% endfor %}
            </div>
            <div class="icd9-info col-xs-12 col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-3 col-lg-3">
              <h3>QQ plot:</h3>
              <div id="qq_plot_container"></div>
            </div>
        </div>

    </div>

<script type="text/template" id="tooltip-template">
<%= d.chrom %>:<%= d.pos.toLocaleString() %> <%= d.ref %> &gt; <%= d.alt %><br>
pval: <%= d.pval %><br>
MAF: <%= d.maf %><br>
</script>

{% endblock %}
